:root {
  --cute-crab: #DB4C3F;
  --bleached-silk: #F2F2F2;
  --white: #FFFFFF;
  --nav-bar-hover-fill: hsla(0,0%,100%,0.2);
  --sidebar-hover-fill: #d3d3d3;
  --grey: grey;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 3fr 50px;
  font-family: 'Segoe UI';
}

header {
	background: var(--cute-crab);
  grid-column: 1;

  display: flex;
  align-items: center;
}

.header-left-section__hamburger-menu {
  margin-left: 1rem;
}

.header-left-section__hamburger-menu,
.header-left-section__home-button {
  font-size: 2rem;
  color: var(--white);
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-left-section__home-button:hover,
.header-left-section__hamburger-menu:hover {
  background: var(--nav-bar-hover-fill);
  border-radius: 0.4rem;
}

main {
  grid-column: 1;
    
  display: grid;
  grid-template-columns: 1fr 3fr;
}

main aside:first-child {
  background: var(--bleached-silk);
  width: 12.2rem;
  padding: 1rem;
}

.sidebar-period-buttons {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sidebar-period-buttons__button {
  line-height: 0;
}

.sidebar-period-buttons__button:hover {
  cursor: pointer;
  background-color: var(--sidebar-hover-fill);
  border-radius: 0.5rem;
}

.sidebar-period-buttons__button__contents {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-left: 0.5rem;
}

.sidebar-period-buttons__today:focus {
  color:var(--cute-crab);
}

.sidebar-project-heading {
  color: grey;
  font-weight: 600;
  background-color: var(--sidebar-hover-fill);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.sidebar-project-heading__text {
  margin: 0;
}

.sidebar-project-heading__button {
  border: none;
  background: none;
  display: none;
  color: var(--grey);
}

.sidebar-project-heading:hover .sidebar-project-heading__button {
  display: inline-block;
}

.sidebar-project-heading__button:hover {
  cursor: pointer;
  color: black;
}

.sidebar-project-buttons{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sidebar-project-buttons__button{
  line-height: 0;
}

.sidebar-project-buttons__button:hover {
  cursor: pointer;
  background-color: var(--sidebar-hover-fill);
  border-radius: 0.5rem;
}

.button__edit-delete-buttons {
  padding-left: 1.3rem;
}

.button__edit-delete-buttons__edit,
.button__edit-delete-buttons__delete {
  background: none;
  border: none;
  color: var(--grey);
}

.button__edit-delete-buttons__edit:hover,
.button__edit-delete-buttons__delete:hover {
  color: black;
  cursor: pointer;
}

main aside:last-child {
  background: var(--white);
  padding: 0.5rem;
}

.today-content {
  width: 100%;
  height: 100%;
  background-color: #f2f2f252;
}

.today-content__header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.3rem;
  padding-left: 8.2rem;
}

.today-content__tasks-wrapper {
  padding-left: 8.2rem;
  padding-right: 2rem;
}

.today-content__tasks-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.today-content__tasks-list li::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--grey); /* Adjust the line style as desired */
  margin: 10px 0; /* Adjust the line's vertical spacing */
  width: 100%; /* Adjust the line's length */
  
}

.today-content__header-topic {
  margin: 0;
}

.today-content__header-date {
  align-self: flex-end;
  font-size: 0.8rem;
  color: var(--grey);
}

.today-content__tasks-item {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.today-content__tasks-item--clicked {
  background-color: var(--cute-crab);
}

.today-content__tasks-item__content {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 2rem 2rem 1fr 4rem;
  align-items: center;
}

.today-content__tasks-item__content-drag-button {
  line-height: 0;
  display: flex;
  justify-content: flex-end;
}

.today-content__tasks-item__content-check-button-wrapper {
  line-height: 0;
  display: flex;
  justify-content: center;
}

.today-content__tasks-item__content-check-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  position: relative;
  transition-property: background-color, transform;
  transition-duration: 1s, 1s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  cursor: pointer;
  color: var(--grey);
}

.today-content__tasks-item__content-check-button:hover {
  background-color: var(--sidebar-hover-fill);
}

.today-content__tasks-item__content-check-button--clicked {
  background-color: var(--cute-crab);
  transform: scale(1.3);
  color: black;
  border: 1px solid black;
}

.today-content__tasks-item__content-check-button--clicked--svg {
  opacity: 1;
}

.today-content__tasks-item__content-check-button svg{
  position: absolute;
  display: inline-block;
  border: 0 solid transparent;
  top: -0.3em;
  left: -0.3em;
  pointer-events: none;
  opacity: 0;
}

.today-content__tasks-item__content-check-button:hover svg {
  opacity: 1; 
}

.today-content__tasks-item__content-name {
  
}

.today-content__tasks-item__content-button-wrapper {
  display: flex;
  gap: 0.2rem;
}

.today-content__tasks-item__content-button-wrapper button {
  background: none;
  padding: 0;
  border: none;
  justify-self: end;
  opacity: 0;
  cursor: pointer;
  color: var(--grey);
  padding: 0.2rem;

  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.today-content__tasks-item__content-name:hover + 
.today-content__tasks-item__content-button-wrapper button {
  opacity: 1;
}

.today-content__tasks-item__content-button-wrapper button:hover {
  color: black;
  opacity: 1;
  background-color: var(--sidebar-hover-fill);
  border-radius: 25%;
}

.content-delete-button__delete-button--clicked {
  background-color: var(--cute-crab);  
}

.today-content__tasks-item__content-description {
  grid-column: 3 / span 1;
  white-space: nowrap;        /* Prevents line breaks */
  overflow: hidden;           /* Hides any overflowed content */
  text-overflow: ellipsis; 
  font-size: 0.7rem;
  cursor: pointer;
  color: var(--grey);
}

.today-content__tasks-item__content-project-title {
  grid-column: 3 / span 2;
  justify-self: end;
  font-size: 0.8rem;
  color: var(--grey);
}


.task-content-popup__content {
  background-color: white;
  padding: 20px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#task-edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

footer {
	background: var(--cute-crab);
  grid-column: 1;
}