:root {
  --cute-crab: #DB4C3F;
  --bleached-silk: #F2F2F2;
  --white: #FFFFFF;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 3fr 50px;
}

header {
	background: var(--cute-crab);
  grid-column: 1;
}

main {
  grid-column: 1;
    
  display: grid;
  grid-template-columns: 1fr 3fr;
}

main aside:first-child {
  background: var(--bleached-silk);
}

main aside:last-child {
  background: var(--white);
}

footer {
	background: var(--cute-crab);
  grid-column: 1;
}